@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body {
  width: 90%;
  margin: 0 auto;
  line-height: 2em;
}

p {
  padding-left: 10px; 
}

.address-container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: space-between;
  max-width: fit-content;
  margin: 0 auto;
}

.mail-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.phone-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.address-container a {
  padding: 0 10px;
  text-decoration: none;
}

.companies {
  font-size: 20px;
}

.experience-years {
  font-size: 18px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.header {
  margin-bottom: 50px;
}

.card {
  margin: 10px auto;
  max-width: 700px;
  margin-top: 20px;
}

.MuiTypography-body2 {
  font-weight: bold !important;
  color: black !important;
}

.MuiCardContent-root:last-child {
  padding-top: 0 !important;
  color: black !important;
}

.MuiTypography-body1 {
  color: black !important;
}

.card-container {
  display: flex;
  align-items: center;
}

.blog-details {
  display: flex;
  margin-bottom: 20px;
}

.blog-details div {
  margin: 0 10px;
  font-weight: bolder;
}

.add-blog-container {
  margin-top: 50px;
}

.add-blog-header {
  margin-bottom: 50px;
}

.blog-name-container {
  margin: 20px 7px 20px -10px;
  max-width: 500px;
}

.rdw-editor-main {
  border: 2px solid lightgray !important;
  border-radius: 5px !important;
}

.searchbar {
  display: flex;
  flex-wrap: nowrap;
}